

#header2 {position: absolute; top: -210px; left: -100px;}




#matter{position: absolute; top: 100px; left: 600px; padding: 100px}

#top {font-family;: 'Trebuchet MS', 'Lucida Sans Unicode' , 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(247, 175, 175); font-size: larger; font-weight: bolder;}

#squadpop {position: absolute; top: 400px; left: 600px;}

#links {font-size: x-large;}

