


#matter{position: absolute; top: 400px; left: -70px; padding: 35px}



#squadpop {position: absolute; top: 10px; left: 600px;
padding: 30px;}

#links {font-size: x-large;font-family: fantasy;color: rgb(52, 138, 235);}


#jones2 {position: absolute; top: 700px; left: 650px;}


