

#header2 {position: absolute; top: -210px; left: -100px;}




#matter{position: absolute; top: 100px; left: 600px; padding: 100px}



#squadpop {position: absolute; top: 400px; left: 600px;}

#links {font-size: x-large;}

